<ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngIf="!isLoggedIn" routerLink="/login">
        <ion-label>Login</ion-label>
      </ion-item>
      <ion-item *ngIf="!isLoggedIn" routerLink="/register">
        <ion-label>Registrarse</ion-label>
      </ion-item>
      <ion-item *ngIf="isLoggedIn" (click)="logout()">
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
