<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <!-- Si no hay usuario -->
      
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" (click)="goToLogin()">
            <ion-label>Iniciar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" (click)="goToRegister()">
            <ion-label>Registrarse</ion-label>
          </ion-item>
        </ion-menu-toggle>
  

      <!-- Si hay usuario -->
      <ng-template #loggedIn>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" (click)="logout()">
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ng-template>

    </ion-list>
  </ion-content>
</ion-menu>